!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'mobile', media: 'all',  |
      'data-turbolinks-track' => true                       |
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    .container
      = render 'layouts/header'
      #main_content
        = yield
      #footer
        .signup
          - if controller_name == 'sessions'
            .hint
              New to Loudius?
              = link_to 'Sign Up', '#'
            .fgt-pw= link_to 'Forgot your password?', '#'
          - else
            .hint
              Already have an account?
              = link_to 'Log In', '#'